.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&::before {
		display: inline-block;
		width: 100%;
		height: 100%;
		content: '';
		background-color: currentcolor;
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: cover;
	}
}

@mixin icons;
