@import '@/components/features/product/product-short/product-short';

.product-viewed {
	.swiper {
		margin-right: -8px;
		margin-left: -8px;
	}

	.swiper-slide {
		width: 296px;
		height: auto;
		padding: 0 8px;
	}

	@mixin media $tablet {
		.swiper {
			margin-right: -16px;
			margin-left: -16px;
		}

		.swiper-slide {
			width: 372px;
			padding: 0 16px;
		}
	}

	@mixin media $desktopM {
		.swiper-slide {
			width: calc(100% / 4);
		}
	}
}
