{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-hudochenkov/full"
	],
	"rules": {
		"at-rule-no-unknown": null,
		"function-no-unknown": null,
		"selector-class-pattern": null,
		"property-no-vendor-prefix": null,
		"selector-no-qualifying-type": null,
		"declaration-no-important": null,
		"selector-max-type": null,
		"max-nesting-depth": 3,
		"selector-max-compound-selectors": 3,
		"order/order": [
			[
				"dollar-variables",
				"declarations",
				{
					"type": "at-rule",
					"name": "supports"
				},
				{
					"type": "at-rule",
					"name": "media"
				},
				"custom-properties",
				"rules",
				"at-rules"
			],
			{ "severity": "warning" }
		]
	}
}
