.collapse__element {
	.collapse__icon {
		width: 16px;
		height: 16px;
		transition: color var(--transition-primary),
						transform var(--transition-primary);
	}
	
	.collapse__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 8px 0 8px 6px;
		border-bottom: 1px solid var(--color-line-primary);
		color: var(--color-text-alternate);
		cursor: pointer;
		transition: color var(--transition-secondary),
						border-color var(--transition-secondary);
	
		@mixin hover {
			border-color: var(--color-primary);
		}
	}
	
	.collapse__content {
		overflow: hidden;
		height: 0;
	}
	
	.collapse__box {
		padding: 12px 6px;
	}

	&.shown {
		.collapse__icon {
			color: var(--color-primary);
			transform: rotateX(180deg);
		}

		.collapse__button {
			border-color: var(--color-primary);
			color: var(--color-text-primary);
		}
	}
}
