.pagination {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;

	.pagination__nav {
		display: flex;
		gap: 6px;
		align-items: baseline;

		@mixin media $tablet {
			gap: 10px
		}
	}

	.pagination__button {
		width: 100%;
	
		@mixin media $tablet {
			width: auto;
			min-width: 215px;
		}
	
		@mixin media $desktop {
			min-width: 300px;
		}
	
		@mixin media $largest {
			min-width: 335px;
		}
	}
	
	.pagination__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 4px;
		background-color: var(--color-background-alternate);
		color: var(--color-text-primary);
		font-weight: 500;
		font-size: 14px;
		transition: color var(--transition-secondary),
						background-color var(--transition-secondary);
	
		&.active {
			background-color: var(--color-line-secondary);
			color: var(--color-text-light);
			pointer-events: none;
		}
	
		@mixin hover {
			background-color: var(--color-primary);
			color: var(--color-text-light);
		}
	
		@mixin media $tablet {
			width: 48px;
			height: 48px;
		}
	}
	
	.pagination__link--extreme {
		@mixin media $tablet {
			display: none;
		}
	}
	
	.pagination__link--excess {
		display: none;
	
		@mixin media $mobile {
			display: flex;
		}
	}
	
	.pagination__arrow {
		display: none;
	
		@mixin hover {
			background-color: var(--color-primary);
			color: var(--color-text-light);
		}
	
		@mixin media $tablet {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 48px;
			padding: 0 16px;
			border-radius: 4px;
			background-color: var(--color-background-alternate);
			color: var(--color-text-primary);
			font-weight: 500;
			font-size: 14px;
			transition: color var(--transition-secondary),
							background-color var(--transition-secondary);
		}
	}
	
	.pagination__separator {
		min-width: 16px;
		color: var(--color-text-secondary);
		text-align: center;
	
		@mixin media $tablet {
			min-width: 30px;
		}
	}

	@mixin media $tablet {
		gap: 24px;
	}
}
