.form-checkbox {
	display: flex;
	gap: 14px;
	align-items: center;

	.form-checkbox__control {
		position: relative;
	}
	
	.form-checkbox__vue {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		border: 1px solid var(--color-line-primary);
		border-radius: 3px;
		transition: border-color var(--transition-secondary),
						background-color var(--transition-secondary);
	
		.icon {
			width: 12px;
			height: 12px;
			color: var(--color-text-light);
			opacity: 0;
		}
	}
	
	.form-checkbox__input {
		position: absolute;
		inset: 0;
		z-index: 2;
		opacity: 0;
		cursor: pointer;
	}
	
	.form-checkbox__input:disabled {
		pointer-events: none;
	}
	
	.form-checkbox__input:disabled ~ .form-checkbox__vue {
		opacity: 0.5;
	}
	
	.form-checkbox__input:checked ~ .form-checkbox__vue {
		border-color: var(--color-primary);
		background-color: var(--color-primary);
	
		/* stylelint-disable-next-line selector-max-compound-selectors */
		.icon {
			opacity: 1;
		}
	}

	&.error {
		.form-checkbox__input ~ .form-checkbox__vue {
			border-color: var(--color-danger);
		}
	}
}
