.faq {
	margin: 0 auto;

	.button {
		display: flex;
		width: 100%;
		max-width: 240px;
		margin: 24px auto 0;
	}

	.faq__header {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 10px 6px 10px 0;
		border-bottom: 1px solid var(--color-line-primary);
		color: var(--color-text-alternate);
		font-size: 12px;
		font-weight: 500;
		line-height: 1.5;
		text-align: left;
		transition:
			color var(--transition-secondary),
			border-color var(--transition-secondary);

		.icon {
			width: 24px;
			height: 24px;
			flex-shrink: 0;
			margin-left: 6px;
			transition:
				color var(--transition-primary),
				transform var(--transition-primary);
		}

		@mixin hover {
			border-color: var(--color-primary);
		}

		@mixin media $tablet {
			font-size: 14px;
		}
	}

	.faq__body {
		overflow: hidden;
		height: 0;
	}

	.faq__content {
		padding: 12px 6px;

		@mixin media $tablet {
			padding: 20px;
		}
	}

	.faq__element {
		&.shown {
			.faq__header {
				border-color: var(--color-primary);
				color: var(--color-primary);
			}

			.icon {
				color: var(--color-primary);
				transform: rotateX(180deg);
			}
		}
	}
}
