@import './notify-element/notify-element';

.notify-layer {
	position: fixed;
	top: 20px;
	right: 16px;
	z-index: 400;

	@mixin media $tablet {
		right: 20px;
	}
}

.notify {
	width: 280px;
	margin-top: 8px;

	@mixin media $tablet {
		width: 400px;
		margin-top: 10px;
	}
}
