.form-complete {
	position: relative;

	.form-complete__dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 20;
		width: 100%;
		margin-top: 4px;
		padding: 4px 0;
		border-top: none;
		border-radius: 5px;
		background-color: var(--color-background-primary);
		box-shadow: 0 0 20px rgb(27 33 37 / 15%);
		opacity: 0;
		visibility: hidden;
		transition: opacity var(--transition-secondary),
						transform var(--transition-secondary),
						visibility var(--transition-secondary);
		transform: translateY(30px);
	}
	
	.form-complete__scrollbar {
		max-height: 140px;
	
		.simplebar-content {
			/* stylelint-disable-next-line declaration-no-important */
			padding: 0 !important;
		}
	
		.simplebar-track {
			right: 2px;
		}
	}
	
	.form-complete__option {
		padding: 8px 16px;
		color: var(--color-text-alternate);
		font-size: 14px;
		cursor: pointer;
		transition: color var(--transition-primary), background-color var(--transition-primary);
	
		&.selected {
			background-color: var(--color-background-alternate);
			color: var(--color-text-primary);
			pointer-events: none;
		}

		@mixin hover {
			background-color: var(--color-background-secondary);
			color: var(--color-text-primary);
		}
	}
	
	.form-complete__empty {
		padding: 8px 16px;
		color: var(--color-text-alternate);
		font-size: 14px;
	}

	&.active {
		.form-complete__dropdown {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}
}

.form-element {
	&.error {
		.form-input {
			border-color: var(--color-danger);
		}
	}
}
