@import url('./header-top/header-top.css');
@import url('./header-main/header-main.css');
@import url('./header-both/header-both.css');
@import url('./header-nav/header-nav.css');
@import url('./header-search/header-search.css');
@import url('@/components/block/logo/logo.css');
@import url('@/components/block/phone/phone.css');
@import url('@/components/block/location/location.css');

.header {
	flex-shrink: 0;
	height: 50px;

	.header__stiky {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid var(--color-line-primary);
		background-color: var(--color-background-primary);
		transition: transform 0.2s linear;

		@mixin media $tablet {
			height: 64px;
		}

		@mixin media $laptop {
			height: 109px;
		}

		@mixin media $desktop {
			height: 151px;

			&.stiky {
				transform: translateY(-42px);
			}
		}
	}

	@mixin media $tablet {
		height: 64px;
	}

	@mixin media $laptop {
		height: 109px;
	}

	@mixin media $desktop {
		height: 151px;
	}
}

.header-control {
	position: relative;

	.header-control__link {
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon {
			position: relative;
			display: block;
			width: 24px;
			height: 24px;
			color: var(--color-text-alternate);
		}
	}

	.header-control__name {
		display: block;
		margin-top: 3px;
		font-weight: 500;
		font-size: 12px;
	}
}
