@import url('./footer-nav/footer-nav.css');
@import url('@/components/block/payment/payment.css');
@import url('@/components/block/phone/phone.css');

.footer {
	padding-bottom: 58px;
	border-top: 1px solid var(--color-line-primary);

	.footer__list {
		display: none;

		@mixin media $tablet {
			display: flex;
			gap: 16px;
			font-size: 12px;
		}
	}

	.footer__text {
		color: var(--color-text-alternate);
		font-size: 12px;
	}

	.footer__hr {
		height: 1px;
		background-color: var(--color-line-primary);
	}

	.footer__main {
		padding-top: 32px;
		padding-bottom: 32px;

		@mixin media $laptop {
			display: flex;
			gap: 100px;
			justify-content: space-between;
		}

		@mixin media $desktop {
			gap: 160px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	.footer__both {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 16px;
		padding-bottom: 16px;

		@mixin media $tablet {
			justify-content: space-between;
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}

	.footer__copy {
		padding-top: 24px;
		padding-bottom: 24px;

		.footer__text {
			margin-bottom: 6px;
			font-size: 11px;
		}

		@mixin media $mobile {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 32px;
			padding-bottom: 32px;

			.footer__text {
				margin-bottom: 0;
				font-size: 12px;
			}
		}
	}

	.footer__box {
		margin-bottom: 32px;

		@mixin media $tablet {
			display: flex;
			flex: 1;
			justify-content: space-between;
		}

		@mixin media $laptop {
			max-width: 780px;
			margin-bottom: 0;
		}

		@mixin media $desktop {
			max-width: 100%;
		}
	}

	.footer__info {
		.phone {
			margin-bottom: 12px;
		}

		.phone__link {
			font-size: 16px;
		}

		@mixin media $tablet {
			flex-shrink: 0;

			.phone {
				margin-bottom: 16px;
			}
	
			.phone__link {
				font-size: 18px;
			}
		}
	}

	@mixin media $tablet {
		padding-bottom: 0;
	}
}
