.card-category {
	display: block;

	.card-category__preview {
		position: relative;
		display: block;
		overflow: hidden;
		padding-top: 65%;
		border-radius: 3px;
		margin-bottom: 18px;
		background-color: var(--color-background-secondary);
		transition: background-color var(--transition-primary),
						box-shadow var(--transition-primary);
		will-change: transform;

		picture {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: transform var(--transition-secondary);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.card-category__quantity {
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 5px 10px;
		background-color: var(--color-background-primary);
		color: var(--color-text-secondary);
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
	}

	.card-category__name {
		display: inline-block;
		color: var(--color-text-primary);
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5;
		transition: color var(--transition-primary);

		@mixin hover {
			color: var(--color-primary-hover);
		}

		@mixin active {
			color: var(--color-primary-active);
		}
	}

	.card-category__list {
		margin-top: 14px;
	}

	.card-category__item {
		margin-top: 12px;
		line-height: 1;

		a {
			color: var(--color-text-alternate);
			font-size: 14px;
			font-weight: 500;
			line-height: 1.5;

			@mixin hover {
				color: var(--color-primary);
			}
		}

		&:first-child {
			margin-top: 0;
		}
	}

	.card-category__more {
		display: inline-flex;
		align-items: center;
		margin-top: 12px;
		color: var(--color-primary);
		font-size: 14px;
		font-weight: 500;
		line-height: 1.8;

		.icon {
			width: 14px;
			height: 14px;
			margin-left: 4px;
		}

		@mixin hover {
			color: var(--color-primary-hover);
		}

		@mixin active {
			color: var(--color-primary-active);
		}
	}

	@mixin hover {
		.card-category__preview {
			background: var(--color-background-alternate);

			picture {
				transform: scale(1.1);
			}
		}

		.card-category__name {
			color: var(--color-primary);
		}
	}
}
