:root {
	/* color primary */
	--color-primary: #2968e3;
	--color-primary-hover: #1e00ff;
	--color-primary-active: #175fed;
	--color-primary-disabled: #71b6ef;

	/* color accent */
	--color-accent: #ff842b;
	--color-accent-hover: #f9a466;
	--color-accent-active: #ffb648;
	--color-accent-disabled: #ffe4a0;

	/* color status */
	--color-danger: #e03957;
	--color-warning: #ffe4a0;
	--color-success: #64a70e;

	/* color text */
	--color-text-primary: #1b2125;
	--color-text-secondary: #5c5d65;
	--color-text-alternate: #838891;
	--color-text-light: #fff;

	/* color line */
	--color-line-primary: #dde3e8;
	--color-line-secondary: #c8d1da;

	/* color background */
	--color-background-primary: #fff;
	--color-background-secondary: #f4f4f4;
	--color-background-alternate: #eaeeef;

	/* size */
	--size-padding-mobile: 16px;
	--size-padding-tablet: 32px;
	--size-container-small: 1024px;
	--size-container-medium: 1280px;

	/* transition */
	--transition-primary: 0.3s linear;
	--transition-secondary: 0.3s ease-in-out;
	--transition-alternate: 0.5s ease-in-out;
}
