.card-review {
	display: flex;
	height: 100%;
	flex-direction: column;
	padding: 20px 20px 30px;
	border-radius: 3px;
	background-color: var(--color-background-primary);
	transition: box-shadow var(--transition-primary);

	@mixin media $mobile {
		padding: 30px 30px 34px;
	}

	@mixin hover {
		box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	}

	.card-review__head {
		display: flex;
		margin-bottom: 28px;
	}

	.card-review__avatar {
		display: flex;
		width: 50px;
		height: 50px;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		border: 2px solid rgb(0 0 0 / 20%);
		border-radius: 50%;
		margin-right: 16px;
		color: var(--color-text-light);
		font-size: 28px;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase
	}

	.card-review__info {
		padding-top: 2px;
	}

	.card-review__date {
		margin-bottom: 2px;
		color: var(--color-text-alternate);
		font-size: 12px;
		font-weight: 400;
		line-height: 1.75;
	}

	.card-review__name {
		display: block;
		color: var(--color-text-primary);
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
	}

	.card-review__body {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	.card-review__rating {
		height: 15px;
		margin-bottom: 18px;
	}

	.card-review__title {
		display: -webkit-box;
		overflow: hidden;
		margin-bottom: 8px;
		-webkit-box-orient: vertical;
		color: var(--color-text-primary);
		font-size: 14px;
		font-weight: 500;
		-webkit-line-clamp: 2;
		line-height: 1.5;
		transition: color var(--transition-primary);

		@mixin hover {
			color: var(--color-primary);
		}

		@mixin media $tablet {
			font-size: 16px;
		}
	}

	.card-review__text {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		color: var(--color-text-secondary);
		font-size: 12px;
		font-weight: 400;
		-webkit-line-clamp: 6;
		line-height: 1.75;

		@mixin media $tablet {
			font-size: 14px;
		}
	}

	.card-review__more {
		display: inline-flex;
		align-items: center;
		margin-top: 16px;
		color: var(--color-text-secondary);
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
		transition: color var(--transition-primary);

		.icon {
			width: 13px;
			height: 13px;
			margin-left: 4px;
		}

		@mixin media $mobile {
			margin-top: 18px;
		}

		@mixin media $tablet {
			font-size: 14px;
		}

		@mixin hover {
			color: var(--color-primary);
		}
	}
}
