.footer-nav {
	border-bottom: 1px solid var(--color-line-primary);

	.footer-nav__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px 0;
		font-weight: 600;
		font-size: 12px;
		text-transform: uppercase;

		.icon {
			width: 18px;
			height: 18px;
			transition:
				color var(--transition-primary),
				transform var(--transition-primary);
		}

		@mixin media $tablet {
			margin-bottom: 24px;
			padding: 0;

			.icon {
				display: none;
			}
		}
	}

	.footer-nav__list {
		overflow: hidden;
		height: 0;

		@mixin media $tablet {
			overflow: initial;
			height: auto;
		}
	}

	.footer-nav__item {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 16px;
		}
	}

	.footer-nav__link {
		font-size: 12px;
	}

	.footer-nav__element {
		&.shown {
			.icon {
				transform: rotateX(180deg);
			}
		}
	}

	@mixin media $tablet {
		border-bottom: none;
	}
}
