@import url('./notify-element/notify-element.css');

.notify-layer {
	position: fixed;
	top: 20px;
	right: 16px;
	z-index: 200;

	@mixin media $tablet {
		right: 20px;
	}
}

.notify {
	max-width: 280px;
	margin-top: 8px;

	@mixin media $tablet {
		max-width: 440px;
		margin-top: 10px;
	}
}
