.form-select {
	position: relative;

	.form-select__vue {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	
		.form-select__icon-remove {
			position: absolute;
			top: 50%;
			right: 4px;
			width: 14px;
			height: 14px;
			color: var(--color-text-alternate);
			transition: color var(--transition-primary);
			transform: translateY(-50%);

			@mixin hover {
				color: var(--color-text-primary);
			}
		}
	}
	
	.form-select__vue--placeholder {
		display: none;
		color: var(--color-text-alternate);
	}
	
	.form-select__control {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 48px;
		padding: 0 44px 0 16px;
		border: 1px solid var(--color-line-primary);
		border-radius: 5px;
		background-color: var(--color-background-primary);
		font-size: 16px;
		cursor: pointer;
		transition: border-color var(--transition-primary);
	
		.form-select__icon-dropdown {
			color: var(--color-text-secondary);
			transition: transform var(--transition-primary);
		}
	}
	
	.form-select__dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 20;
		width: 100%;
		margin-top: 4px;
		padding: 4px 0;
		border-top: none;
		border-radius: 5px;
		background-color: var(--color-background-primary);
		box-shadow: 0 0 20px rgb(27 33 37 / 15%);
		opacity: 0;
		visibility: hidden;
		transition: opacity var(--transition-secondary),
						transform var(--transition-secondary),
						visibility var(--transition-secondary);
		transform: translateY(30px);
	}
	
	.form-select__scrollbar {
		max-height: 140px;
	
		.simplebar-content {
			/* stylelint-disable-next-line declaration-no-important */
			padding: 0 !important;
		}
	
		.simplebar-track {
			right: 2px;
		}
	}
	
	.form-select__option {
		padding: 8px 16px;
		color: var(--color-text-alternate);
		font-size: 14px;
		cursor: pointer;
		transition: color var(--transition-primary), background-color var(--transition-primary);
	
		&.selected {
			background-color: var(--color-background-alternate);
			color: var(--color-text-primary);
			pointer-events: none;
		}

		@mixin hover {
			background-color: var(--color-background-secondary);
			color: var(--color-text-primary);
		}
	}

	&.placeholder {
		.form-select__vue--placeholder {
			display: block;
		}
	}

	&.active {
		.form-select__control {
			border-color: var(--color-line-secondary);

			.form-select__icon-dropdown {
				transform: translateY(-50%) rotateX(180deg);
			}
		}

		.form-select__dropdown {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&.multiple:not(.placeholder) {
		.form-select__control {
			padding: 6px 44px 2px 16px;
		}

		.form-select__result {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.form-select__vue {
				position: relative;
				max-width: 20ch;
				margin-right: 4px;
				margin-bottom: 4px;
				padding: 4px 24px 4px 6px;
				border-radius: 4px;
				background-color: var(--color-background-alternate);
				font-size: 14px;
			}
		}

		.form-select__option {
			&.selected {
				pointer-events: initial;
			}
		}
	}
}

.form-element {
	&.error {
		.form-select {
			.form-select__control {
				border-color: var(--color-danger);
			}
		}
	}
}
