.location {
	position: relative;

	.location__button {
		display: flex;
		width: 100%;
		align-items: center;
		transition: color var(--transition-primary);

		.icon {
			width: 24px;
			height: 24px;
			margin-right: 8px;
		}

		@mixin hover {
			color: var(--color-primary-hover);
		}
	}

	.location__value {
		font-size: 13px;
		font-weight: 500;
	}
}
