.header-main {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding-top: 12px;
	padding-bottom: 12px;

	.header-main__logo {
		flex-shrink: 0;

		.logo__picture {
			width: 24px;
		}

		.logo__name {
			width: 100px;
		}

		@mixin media $tablet {
			.logo__picture {
				width: 32px;
			}
	
			.logo__name {
				width: 140px;
			}
		}
	}

	.header-main__search {
		width: 100%;

		@mixin media $laptop, max {
			display: none;
		}
	}

	.header-main__control {
		display: flex;
		flex-shrink: 0;
		gap: 30px;
		align-items: center;

		@mixin media $tablet, max {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 200;
			gap: 8px;
			justify-content: space-between;
			width: 100%;
			padding: 8px;
			border-top: 1px solid var(--color-line-primary);
			background-color: var(--color-background-alternate);

			.header-control {
				width: 25%;
			}
		}
	}

	@mixin media $tablet {
		height: 64px;
	}

	@mixin media $laptop {
		height: auto;
	}
}
