.popover {
	position: fixed;
	z-index: 200;
	display: none;
	width: fit-content;
	min-width: 180px;
	max-width: 320px;
	padding: 12px 20px;
	border-radius: 6px;
	background-color: var(--color-background-primary);
	box-shadow: 0 0 20px rgb(27 33 37 / 15%);
	font-size: 12px;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-secondary), 
					visibility var(--transition-secondary);
	

	&::before {
		content: "";
		position: absolute;
		display: block;
		border: 10px solid transparent;
	}

	&[data-position="top"] {
		&::before {
			top: 100%;
			left: 50%;
			border-top: 8px solid var(--color-background-primary);
			transform: translateX(-50%);
		}
	}

	&[data-position="bottom"] {
		&::before {
			bottom: 100%;
			left: 50%;
			border-bottom: 8px solid var(--color-background-primary);
			transform: translateX(-50%);
		}
	}

	&[data-position="left"] {
		&::before {
			top: 50%;
			left: 100%;
			border-left: 8px solid var(--color-background-primary);
			transform: translateY(-50%);
		}
	}

	&[data-position="right"] {
		&::before {
			top: 50%;
			right: 100%;
			border-right: 8px solid var(--color-background-primary);
			transform: translateY(-50%);
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	@mixin media $tablet {
		font-size: 14px;
	}
}
