.button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	padding: 8px 32px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	line-height: normal;
	transition: background-color var(--transition-secondary),
					outline-color var(--transition-secondary),
					color var(--transition-secondary);

	span {
		transition:
			opacity var(--transition-secondary),
			visibility var(--transition-secondary);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity var(--transition-secondary),
			visibility var(--transition-secondary);
		mask-image: url('/assets/images/loading.svg');
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: auto;
	}

	&.loading {
		pointer-events: none;

		span {
			opacity: 0;
			visibility: hidden;
		}

		&::after {
			opacity: 1;
			visibility: visible;
		}
	}

	&[disabled] {
		pointer-events: none;
	}

	&.button--primary {
		background-color: var(--color-primary);
		color: var(--color-text-light);

		&::after {
			background-color: var(--color-text-light);
		}

		&.loading {
			background-color: var(--color-primary-active);
		}

		&[disabled] {
			background-color: var(--color-primary-disabled);
		}

		@mixin hover {
			background-color: var(--color-primary-hover);
		}

		@mixin active {
			background-color: var(--color-primary-active);
		}
	}

	&.button--accent {
		background-color: var(--color-accent);
		color: var(--color-text-light);

		&::after {
			background-color: var(--color-text-light);
		}

		&.loading {
			background-color: var(--color-accent-active);
		}

		&[disabled] {
			background-color: var(--color-accent-disabled);
		}

		@mixin hover {
			background-color: var(--color-accent-active);
		}

		@mixin active {
			background-color: var(--color-accent-active);
		}
	}

	&.button--outline {
		background-color: var(--color-background-primary);
		color: var(--color-primary);
		outline: 1px solid var(--color-primary);

		&::after {
			background-color: var(--color-primary);
		}

		&.loading {
			background-color: var(--color-background-alternate);
		}

		@mixin hover {
			background-color: var(--color-background-secondary);
			color: var(--color-primary-hover);
			outline-color: var(--color-primary-hover);
		}

		@mixin active {
			background-color: var(--color-background-alternate);
			color: var(--color-primary-active);
			outline-color: var(--color-primary-active);
		}
	}
}
