@import url('./modal-element/modal-element.css');

.modal-open {
	overflow: hidden;
}

.modal-layer {
	position: fixed;
	inset: 0;
	z-index: 300;
	background-color: rgb(234 238 239 / 50%);
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-secondary),
					visibility var(--transition-secondary);
	backdrop-filter: blur(5px);

	&.active {
		opacity: 1;
		visibility: visible;
	}
}
