/* stylelint-disable selector-max-compound-selectors */

.form-file {
	padding: 12px;
	border: 1px dashed var(--color-line-secondary);
	background-color: var(--color-background-secondary);
	transition: background-color var(--transition-primary);

	.form-input {
		display: none;
	}
	
	.form-file__box {
		position: relative;
		display: flex;
		align-items: flex-start;
	}
	
	.form-file__preview {
		position: absolute;
		top: 0;
		left: 0;
		flex-shrink: 0;
		width: 80px;
		height: 80px;
	}

	.form-file__ext {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		padding: 10px;
		background-color: var(--color-background-alternate);

		.icon {
			width: 36px;
			height: 36px;
			margin-bottom: 6px;
			color: var(--color-text-secondary);
		}

		span {
			color: var(--color-text-alternate);
			font-size: 14px;
		}
	}
	
	.form-file__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		min-height: 80px;
		margin-left: 96px;
	}
	
	.form-file__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		border-radius: 5px;
		background-color: var(--color-background-primary);
		cursor: pointer;
	
		.icon {
			width: 34px;
			height: 34px;
		}
	}
	
	.form-file__link {
		margin-bottom: 4px;
		cursor: pointer;
	}
	
	.form-file__text {
		color: var(--color-text-alternate);
		font-size: 12px;
	}
	
	.form-file__vue {
		display: none;
		flex-wrap: wrap;
		gap: 16px;
	}
	
	.form-file__item {
		position: relative;
		overflow: hidden;
		width: 80px;
		height: 80px;
		border-radius: 5px;
	
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	
	.form-file__remove {
		position: absolute;
		top: 4px;
		right: 4px;
		display: none;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--color-text-primary);
		color: var(--color-text-light);
		transition: color var(--transition-primary), background-color var(--transition-primary);
	
		.icon {
			width: 12px;
			height: 12px;
		}

		@mixin hover {
			background-color: var(--color-text-light);
			color: var(--color-text-primary);
		}
	}

	&.active {
		.form-file__vue {
			display: flex;
		}
	
		.form-input ~ .form-file__box {
			.form-file__preview {
				display: none;
			}
	
			.form-file__vue {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	
		.form-input[multiple] ~ .form-file__box {
			.form-file__preview {
				display: block;
			}
	
			.form-file__content {
				display: none;
			}
	
			.form-file__vue {
				position: static;
			}
	
			.form-file__vue::before {
				content: '';
				display: block;
				width: 80px;
				height: 80px;
			}
	
			.form-file__remove {
				display: flex;
			}
		}
	}
}

.form-element {
	&.error {
		.form-file {
			border-color: var(--color-danger);
		}
	}
}
