/* NOTE: import CONFIG style */
@import '@/common/variables';
@import '@/common/fonts';
@import '@/common/normalize';
@import '@/common/common';
@import '@/common/base-content';

/* NOTE: import UI style */
@import '@/components/shared/loader/loader';
@import '@/components/shared/link/link';
@import '@/components/shared/marker/marker';
@import '@/components/shared/favorite/favorite';
@import '@/components/shared/button/button';
@import '@/components/shared/icon/icon';
@import '@/components/shared/picture/picture';
@import '@/components/shared/collapse/collapse';
@import '@/components/shared/dropdown/dropdown';
@import '@/components/shared/sticky/sticky';
@import '@/components/shared/tabs/tabs';
@import '@/components/shared/modal/modal';
@import '@/components/shared/notify/notify';
@import '@/components/shared/breadcrumbs/breadcrumbs';
@import '@/components/shared/rating/rating';
@import '@/components/shared/swiper/swiper-banner/swiper-banner';
@import '@/components/shared/swiper/swiper-carusel/swiper-carusel';
@import '@/components/shared/swiper/swiper-thumbs/swiper-thumbs';
@import '@/components/shared/swiper/swiper-over/swiper-over';
@import '@/components/shared/form/form';

/* NOTE: import Layout style */
@import '@/layout/header/header';
@import '@/layout/footer/footer';
@import '@/components/features/search/search';
@import '@/components/features/subscribe/subscribe';
@import '@/components/features/location/location';
@import '@/components/features/callback/callback';
@import '@/components/features/callback/callback-form/callback-form';
@import '@/components/features/login/login';
@import '@/components/features/checkout/checkout-preview/checkout-preview';

.search-open {
	.header-menu {
		overflow: hidden;
	}
}

@mixin media $desktopS, max {
	.menu-open {
		.header-menu {
			visibility: visible;
			opacity: 1;
		}
	}
}

@mixin media $desktopS {
	.menu-open {
		.header-catalog {
			visibility: visible;
			opacity: 1;
		}

		.header-hamburger__list {
			opacity: 0;
		}

		.header-hamburger__close {
			opacity: 1;
		}
	}

	.header-scrolled {
		.header__top {
			visibility: hidden;
			height: 0;
			opacity: 0;
		}

		.header-catalog {
			height: calc(100vh - 80px);
		}
	}
}
